---
layout: layouts/base.njk
---

{{ content | safe }}


<div class="flex items-start flex-grow">
    <div class="flex-auto w-2/3 mr-8">
        <h2 class="text-4xl mb-8 text-black dark:text-slate-200">Опыт</h2>
        <ul class="divide-y divide-slate-100">
            {% for job in jobs %}
            <article class="flex items-start space-x-6 p-6">
                <div class="min-w-0 relative flex-auto">
                    <h2 class="font-semibold truncate pr-20 text-xl text-black font-medium mb-2 dark:text-slate-300">
                        {{ job.name }}
                    </h2>

                    <dl class="mt-2 flex flex-wrap text-sm leading-6 font-medium">
                        <div class="absolute top-0 right-0 flex items-center space-x-2">

                            <dt class="text-sky-500">

                            </dt>
                            <dd>{{ job.work_type }}
                            </dd>
                        </div>
                        <div>
                            <dt class="sr-only">Rating</dt>
                            <dd class="px-1.5 ring-1 ring-slate-200 rounded text-lg">{{ job.post }}</dd>
                        </div>
                        <div class="absolute right-0 flex items-center space-x-2 text-right text-lg">

                            <dd>{{ job.work_period }}
                            </dd>
                        </div>
                        {% for description in job.descriptions %}
                        <div class="flex-none w-full mt-2 font-normal text-lg">
                            <p class="text-left mx-4">{{ description.description }}</p>
                            <span class="text-slate-700 dark:text-slate-300">Технолгии: {{ description.technology }}</span>
                        </div>
                        {% endfor %}
                    </dl>
                </div>
            </article>
            {% endfor %}
            {% for e in edu %}
            <article class="flex items-start space-x-6 p-6">
                <div class="min-w-0 relative flex-auto">
                    <h2 class="font-semibold truncate pr-20 text-xl text-black font-medium mb-2 dark:text-slate-300">
                        {{ e.name }}
                    </h2>

                    <dl class="mt-2 flex flex-wrap text-sm leading-6 font-medium">
                        <div class="absolute top-0 right-0 flex items-center space-x-2">

                            <dt class="text-sky-500">

                            </dt>
                            <dd>{{ e.work_type }}
                            </dd>
                        </div>
                        <div>
                            <dt class="sr-only">Rating</dt>
                            <dd class="px-1.5 ring-1 ring-slate-200 rounded text-lg">{{ e.post }}</dd>
                        </div>
                        <div class="absolute right-0 flex items-center space-x-2 text-right text-lg">

                            <dd>{{ e.work_period }}
                            </dd>
                        </div>
                        {% for description in e.descriptions %}
                        <div class="flex-none w-full mt-2 font-normal text-lg">
                            <p class="text-left mx-4">{{ description.description }}</p>
                            <span class="text-slate-700 dark:text-slate-300">{{ description.result }}</span>
                        </div>
                        {% endfor %}
                    </dl>
                </div>
            </article>
            {% endfor %}
        </ul>
    </div>
    <div class="flex-auto w-1/3 flex-wrap">
        <h2 class="text-4xl mb-8 text-black dark:text-slate-200">Навыки</h2>

        {% for skill in skills %}
        <div class="my-4">
            <span class="block text-xl text-black font-medium mb-4 dark:text-slate-300">{{ skill.name }}</span>
            {% for item in skill.data %}
            <span class="inline-flex border rounded-md py-2 px-4 mr-2 mb-2 text-sm">{{ item }}</span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
